.DS_Store
nexus-server/node_modules/
nexus-server/dist/
nexus-server/build/
nexus-server/.env
nexus-server/storage/

nexus-app/build/
nexus-app/DerivedData/
nexus-app/**/*.pbxuser
nexus-app/**/*.mode1v3
nexus-app/**/*.mode2v3
nexus-app/**/*.perspectivev3
nexus-app/**/*.hmap
nexus-app/**/*.ipa
nexus-app/**/*.dSYM.zip
nexus-app/**/*.dSYM
nexus-app/**/*.xcworkspace/xcuserdata
nexus-app/**/*.xcodeproj/xcuserdata
nexus-app/**/*.xcworkspace/xcshareddata
nexus-app/**/*.xcodeproj/xcshareddata
